{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}

   <div class="flex justify-center items-center h-[75vh]">
    <div class="login w-5/12 bg-white p-6 rounded-lg shadow-lg">
        <div class="flex items-center mb-4">
            <h2 class="text-2xl font-bold text-gray-800">Se connecter</h2>
        </div>

        {{ form_start(form, { 'attr': { 'class': 'space-y-4', 'data-turbo': 'false' } }) }}

        <div>
            {{ form_label(form.email, "Adresse email", {'label_attr': {'class': 'label-field'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'input-field'}}) }}
            {{ form_errors(form.email) }}
        </div>

        <div>
            {{ form_label(form.password, "Mot de passe", {'label_attr': {'class': 'label-field'}}) }}
            {{ form_widget(form.password, {'attr': {'class': 'input-field'}}) }}
            {{ form_errors(form.password) }}
        </div>


        <button type="submit" class="w-full bg-primary text-white font-bold py-2 px-4 rounded-full hover:bg-primary-dark transition duration-300">
            Se connecter
        </button>

        {{ form_end(form) }}

        <div class="flex justify-center">
            <a href="/register" class="text-primary hover:underline my-3">Pas encore de compte ? S'inscrire</a>
        </div>
    </div>
</div>

<style>
    @media (max-width: 1024px) {
        .login {
            width: 80%;
        }
    }
</style>

{% endblock %}
