{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}

   <div class="flex justify-center items-center min-h-screen">
    <div class="w-5/12 bg-white p-6 rounded-lg shadow-lg">
        <div class="flex items-center mb-4">
            <h2 class="text-2xl font-bold text-gray-800">Se connecter</h2>
        </div>

        {{ form_start(form, { 'attr': { 'class': 'space-y-4', 'data-turbo': 'false' } }) }}

        <div>
            {{ form_label(form.email, "Adresse email", {'label_attr': {'class': 'label-field'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'input-field'}}) }}
            {{ form_errors(form.email) }}
        </div>

        <div>
            {{ form_label(form.password, "Mot de passe", {'label_attr': {'class': 'label-field'}}) }}
            {{ form_widget(form.password, {'attr': {'class': 'input-field'}}) }}
            {{ form_errors(form.password) }}
        </div>


        <button type="submit" class="w-full bg-primary text-white font-bold py-2 px-4 rounded-full hover:bg-primary-dark transition duration-300">
            Se connecter
        </button>

        {{ form_end(form) }}


        {{ dump(app.session.flashbag.all()) }}
    </div>
</div>

{% endblock %}
